h2{
  text-transform: uppercase;
}

p{
  text-transform: uppercase;
}

ul{
  list-style: none;
}

button{
  background-color: lightblue;
  border: none;
  height: 2.5rem;
}

form{
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

input{
  width: 15.625rem;
  height: 2.5rem;
  font-size: 1.5625rem;
  margin-top: 1.25rem;
  border-color: .125rem lightblue;
  border-radius: .625rem;
}

select{
  width: 15.625rem;
  height: 2.5rem;
  font-size: 1.5625rem;
  margin-top: 1.25rem;
  border-color: .125rem lightblue;
  border-radius: .625rem;
}

img{
  width: 100%;
}

.pokedex{
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: auto;
  border: solid .3125rem lightblue;
  border-radius: .625rem;
}

.detailChutemon{
  width: 15.375rem;;
}

.chutemonNumero{
  font-size: 3.125rem;
  font-weight: bold;
  text-align: center;
}

