/* form {
  width: 200px;
  margin: 20px auto;
}

input {
  width: 100%;
  padding: 10px;
}

.poke-card {
  position: relative;
  height: fit-content;
  font-family: 'Roboto Mono', monospace;
  max-width: 300px;
  border-radius: 4px;
  color: #000;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid black;
}

.poke-card::before {
  content: '';
  background: radial-gradient(black 33%, transparent 33%);
  background-size: 3px 3px;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
}

.img-container {
  position: relative;
  width: 180px;
  margin: 10px auto;
}

.poke-stats div {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 5px;
  font-size: 18px;
}

.poke-types div {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  border: 1px dashed black;
}

.poke-img {
  width: 180px;
  border-radius: 50%;
} */


/* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI';
}

h1 {
  text-align: center;
  margin-top: 1em;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.5em;
}

.search-container input{
  font-size: 1em;
  border: 3px solid #cc0000;
  padding: 12px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}

.search-container button {
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

.pokedex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.pokedex-container h2 {
  text-align: center;
  margin-top: 0;
}

.pokedex-container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.pokedex-container p {
  text-align: center;
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
} */


h2{
  text-transform: uppercase;
}

p{
  text-transform: uppercase;
}

ul{
  list-style: none;
}

select{
  width: 15.625rem;
  height: 2.5rem;
  font-size: 1.5625rem;
  margin-top: 1.25rem;
  border-color: .125rem lightblue;
  border-radius: .625rem;
}

img{
  width: 100%;
}

.pokedex{
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: auto;
  border: solid .3125rem lightblue;
  border-radius: .625rem;
}

.detailChutemon{
  width: 15.375rem;;
}

.chutemonNumero{
  font-size: 3.125rem;
  font-weight: bold;
  text-align: center;
}

